.active{
	border-left: 4px solid rgb(0,74,0);
	background-color: white;
}

.card h4 {
	margin-bottom: 0px;
	margin-left: 10px
}

	

hr {
	margin: 0px;
	color: white;
}

.pointer {
	cursor: pointer;
}

app-user-details {
	position: fixed;
	width: 800px
}