.tabs li{
	list-style: none;
	display: inline;
	margin-right: 10px;
	font-size: 1.9rem;
	transition: 0.5s ease-in-out;
	cursor: pointer;
	padding: 10px;
}

.active {
	border-bottom: 4px solid rgb(0,74,0);
	background-color: white;
	padding: 10px;
}

.activeOrder{
	border-left: 4px solid rgb(0,74,0);
	background-color: white;
}

.card h4 {
	margin-bottom: 0px;
	margin-left: 10px
}

	

hr {
	margin: 0px;
	color: white;
}

.pointer {
	cursor: pointer;
}

.order-list{
	margin-top: 25px
}

.list{
	width: 250px;
}

app-order-detail{
	padding-top: 25px
}