<div class='user'>
	<div *ngIf = '!user'>
		<h4>No user selected</h4>
	</div>
	<div *ngIf = 'user'>
		<div class='row'>
			<div class='col-lg-5'>
				<h4>{{user.displayName}}</h4>
			</div>
			<div class='col-lg-5'>
				<h4>{{user.phone}}</h4>
			</div>
		</div>

		<div class='row'>
			<div class='col-lg-5'>
				<h4>User details</h4>
				<ul>
					<li>
						Address: {{user.address}}
					</li>
					<li>
						Phone: {{user.phone}}
					</li>
					<li>
						Height: {{user?.height?.height}} {{user?.height?.unit}}
					</li>
					<li>
						Measurement Status: <h4 *ngIf = 'user.size'>Taken</h4><h4 *ngIf = '!user.size'> Not Taken</h4>
					</li>
				</ul>
			</div>
			<div class='col-lg-5'>
				<h4>Orders</h4>
				<div *ngFor = 'let order of orders'>
					<h5>Order Id: {{order.orderId}}</h5>
					<p>Due date: {{order.tailorDate  | date: 'dd/MM/yyyy'}}</p>
					<p>Delivery date: {{order.date  | date: 'dd/MM/yyyy'}}</p>
					<hr>
				</div>
			</div>
		</div>
	</div>
</div>
